@import url("../../Variable.css");

.password-container {
    position: relative;
    width: 20%;
}

input {
    position: absolute;
    height: 2.5rem;
    width: 100%;
    background-color: var(--background-1);
    border: 0.0625rem solid var(--highlight-text);
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--highlight-text);
    padding-left: 1rem;
}

span {
    position: absolute;
    margin: 0.75rem;
    right: .5rem;
}
