@import url("../../Variable.css");

/* Định dạng cho TextField */
.text-field__input {
  height: 2.5rem;
  background-color: var(--background-1);
  border: 1px solid var(--highlight-text);
  border-radius: 1rem;
  box-sizing: border-box;
  color: var(--highlight-text);
  font-family: "Lato", Helvetica;
  font-size: 1rem;
  padding-left: 1rem;
}