@import url("../../Variable.css");

/* Định dạng cho TextField */
.text-field__input {
  height: 40px;
  background-color: var(--background-1);
  border: 1px solid var(--highlight-text);
  border-radius: 16px;
  box-sizing: border-box;
  color: var(--highlight-text);
  padding-left: 16px;
}