.desktop-mu {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 90vw;
  }
  
  .desktop-mu .div {
    background-color: #ffffff;
    height: 1168px;
    position: relative;
    width: 1440px;
  }
  
  .desktop-mu .overlap {
    height: 497px;
    left: calc((1/12) * 100vw);
    position: absolute;
    top: 193px;
    width: calc((5/6) * 100vw);
  }
  
  .desktop-mu .gi-hng {
    height: 497px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1200px;
  }
  
  .desktop-mu .CS {
    height: 135px;
    left: 814px;
    position: absolute;
    top: 341px;
    width: 390px;
  }
  
  .desktop-mu .text-wrapper-2 {
    color: var(--secondarytext);
    font-family: var(--desktop-styles-title-2-font-family);
    font-size: var(--desktop-styles-title-2-font-size);
    font-style: var(--desktop-styles-title-2-font-style);
    font-weight: var(--desktop-styles-title-2-font-weight);
    height: 19px;
    left: 0;
    letter-spacing: var(--desktop-styles-title-2-letter-spacing);
    line-height: var(--desktop-styles-title-2-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 207px;
  }
  
  .desktop-mu .vui-l-ng-ki-m-tra-k {
    color: #000000;
    font-family: var(--desktop-styles-body-2-font-family);
    font-size: var(--desktop-styles-body-2-font-size);
    font-style: var(--desktop-styles-body-2-font-style);
    font-weight: var(--desktop-styles-body-2-font-weight);
    height: 100px;
    left: 0;
    letter-spacing: var(--desktop-styles-body-2-letter-spacing);
    line-height: var(--desktop-styles-body-2-line-height);
    position: absolute;
    top: 35px;
    width: 386px;
  }
  
  .desktop-mu .order {
    height: 290px;
    left: 814px;
    position: absolute;
    top: 0;
    width: 388px;
  }
  
  .desktop-mu .overlap-group {
    background-color: var(--secondarybackground-1);
    border: 2px solid;
    border-color: var(--secondaryhighlight-text);
    border-radius: 16px;
    height: 290px;
    position: relative;
    width: 386px;
  }
  
  .desktop-mu .tip-tc-mua {
    height: 20px;
    left: 116px;
    position: absolute;
    top: 264px;
    width: 152px;
  }
  
  .desktop-mu .text-wrapper-3 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 400;
    height: 20px;
    left: 25px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 0;
    width: 124px;
  }
  
  .desktop-mu .overlap-2 {
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .desktop-mu .overlap-3 {
    height: 51px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 386px;
  }
  
  .desktop-mu .line {
    height: 2px;
    left: 0;
    position: absolute;
    top: 49px;
    width: 386px;
  }
  
  .desktop-mu .text-wrapper-4 {
    color: var(--secondaryhighlight-text);
    font-family: var(--desktop-styles-title-1-font-family);
    font-size: var(--desktop-styles-title-1-font-size);
    font-style: var(--desktop-styles-title-1-font-style);
    font-weight: var(--desktop-styles-title-1-font-weight);
    height: 50px;
    left: 0;
    letter-spacing: var(--desktop-styles-title-1-letter-spacing);
    line-height: var(--desktop-styles-title-1-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    width: 386px;
  }
  
  .desktop-mu .tng-tin {
    height: 94px;
    left: 22px;
    position: absolute;
    top: 89px;
    width: 346px;
  }
  
  .desktop-mu .p {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 300;
    height: 20px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 74px;
    width: 338px;
  }
  
  .desktop-mu .text-wrapper-5 {
    color: var(--primary);
    font-family: var(--desktop-styles-body-1-font-family);
    font-size: var(--desktop-styles-body-1-font-size);
    font-style: var(--desktop-styles-body-1-font-style);
    font-weight: var(--desktop-styles-body-1-font-weight);
    height: 20px;
    left: 235px;
    letter-spacing: var(--desktop-styles-body-1-letter-spacing);
    line-height: var(--desktop-styles-body-1-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 103px;
  }
  
  .desktop-mu .text-wrapper-6 {
    color: var(--secondarytext);
    font-family: var(--desktop-styles-body-1-font-family);
    font-size: var(--desktop-styles-body-1-font-size);
    font-style: var(--desktop-styles-body-1-font-style);
    font-weight: var(--desktop-styles-body-1-font-weight);
    height: 20px;
    left: 0;
    letter-spacing: var(--desktop-styles-body-1-letter-spacing);
    line-height: var(--desktop-styles-body-1-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 112px;
  }
  
  .desktop-mu .text-wrapper-7 {
    color: var(--secondarytext);
    font-family: var(--desktop-styles-body-2-font-family);
    font-size: var(--desktop-styles-body-2-font-size);
    font-style: var(--desktop-styles-body-2-font-style);
    font-weight: var(--desktop-styles-body-2-font-weight);
    height: 30px;
    left: 0;
    letter-spacing: var(--desktop-styles-body-2-letter-spacing);
    line-height: var(--desktop-styles-body-2-line-height);
    position: absolute;
    top: 36px;
    width: 137px;
  }
  
  .desktop-mu .nhp-voucher {
    background-color: #ffffff;
    border: 1px solid;
    border-color: var(--secondaryhighlight-text);
    border-radius: 8px;
    height: 30px;
    left: 147px;
    position: absolute;
    top: 36px;
    width: 191px;
  }
  
  .desktop-mu .ds-sp {
    height: 448px;
    left: 0;
    position: absolute;
    top: 49px;
    width: 750px;
  }
  
  .desktop-mu .sp {
    height: 112px;
    left: 0;
    mix-blend-mode: darken;
    position: absolute;
    top: 0;
    width: 756px;
  }
  
  .desktop-mu .overlap-4 {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--secondaryhighlight-text);
    height: 112px;
    position: relative;
    width: 750px;
  }
  
  .desktop-mu .text-wrapper-8 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 20px;
    font-weight: 700;
    height: 112px;
    left: 689px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 60px;
  }
  
  .desktop-mu .text-wrapper-9 {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 20px;
    font-weight: 400;
    height: 112px;
    left: 559px;
    letter-spacing: 0;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: -1px;
    width: 130px;
  }
  
  .desktop-mu .text-wrapper-10 {
    color: #000000;
    font-family: var(--desktop-styles-body-1-font-family);
    font-size: var(--desktop-styles-body-1-font-size);
    font-style: var(--desktop-styles-body-1-font-style);
    font-weight: var(--desktop-styles-body-1-font-weight);
    height: 112px;
    left: 299px;
    letter-spacing: var(--desktop-styles-body-1-letter-spacing);
    line-height: var(--desktop-styles-body-1-line-height);
    position: absolute;
    text-align: center;
    top: -1px;
    width: 130px;
  }
  
  .desktop-mu .hnh {
    height: 80px;
    left: 15px;
    position: absolute;
    top: 15px;
    width: 284px;
  }
  
  .desktop-mu .tn-sp {
    height: 54px;
    left: 95px;
    position: absolute;
    top: 8px;
    width: 191px;
  }
  
  .desktop-mu .phn-loi {
    height: 30px;
    left: 0;
    position: absolute;
    top: 24px;
    width: 191px;
  }
  
  .desktop-mu .ph-n-lo-i-ph-n-lo-i {
    color: #000000;
    font-family: "Lato", Helvetica;
    font-size: 15px;
    font-weight: 300;
    height: 30px;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
    width: 189px;
  }
  
  .desktop-mu .text-wrapper-11 {
    color: #000000;
    font-family: var(--desktop-styles-body-1-font-family);
    font-size: var(--desktop-styles-body-1-font-size);
    font-style: var(--desktop-styles-body-1-font-style);
    font-weight: var(--desktop-styles-body-1-font-weight);
    height: 16px;
    left: 0;
    letter-spacing: var(--desktop-styles-body-1-letter-spacing);
    line-height: var(--desktop-styles-body-1-line-height);
    position: absolute;
    top: 0;
    white-space: nowrap;
    width: 189px;
  }
  
  .desktop-mu .nh {
    background-image: url(../../../static/img/image-3.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 79px;
  }
  
  .desktop-mu .sl {
    height: 20px;
    left: 450px;
    position: absolute;
    top: 45px;
    width: 91px;
  }
  
  .desktop-mu .text-wrapper-12 {
    color: #000000;
    font-family: var(--desktop-styles-body-2-font-family);
    font-size: var(--desktop-styles-body-2-font-size);
    font-style: var(--desktop-styles-body-2-font-style);
    font-weight: var(--desktop-styles-body-2-font-weight);
    height: 20px;
    left: 0;
    letter-spacing: var(--desktop-styles-body-2-letter-spacing);
    line-height: var(--desktop-styles-body-2-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 20px;
  }
  
  .desktop-mu .div-2 {
    border: 1px solid;
    border-color: #000000;
    border-radius: 4px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 20px;
  }
  
  .desktop-mu .group {
    height: 20px;
    left: 69px;
    position: absolute;
    top: 0;
    width: 22px;
  }
  
  .desktop-mu .overlap-group-2 {
    height: 20px;
    position: relative;
    width: 20px;
  }
  
  .desktop-mu .overlap-wrapper {
    height: 20px;
    left: 27px;
    position: absolute;
    top: 0;
    width: 37px;
  }
  
  .desktop-mu .overlap-5 {
    height: 20px;
    position: relative;
    width: 35px;
  }
  
  .desktop-mu .text-wrapper-13 {
    color: var(--primary);
    font-family: var(--desktop-styles-body-2-font-family);
    font-size: var(--desktop-styles-body-2-font-size);
    font-style: var(--desktop-styles-body-2-font-style);
    font-weight: var(--desktop-styles-body-2-font-weight);
    height: 20px;
    left: 0;
    letter-spacing: var(--desktop-styles-body-2-letter-spacing);
    line-height: var(--desktop-styles-body-2-line-height);
    position: absolute;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 35px;
  }
  
  .desktop-mu .rectangle {
    border: 1px solid;
    border-color: #000000;
    border-radius: 4px;
    height: 20px;
    left: 0;
    position: absolute;
    top: 0;
    width: 35px;
  }
  
  .desktop-mu .overlap-group-wrapper {
    height: 112px;
    left: 0;
    mix-blend-mode: darken;
    position: absolute;
    top: 112px;
    width: 756px;
  }
  
  .desktop-mu .nh-2 {
    background-image: url(../../../static/img/image-2.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 79px;
  }
  
  .desktop-mu .div-wrapper {
    height: 112px;
    left: 0;
    mix-blend-mode: darken;
    position: absolute;
    top: 224px;
    width: 756px;
  }
  
  .desktop-mu .nh-3 {
    background-image: url(../../../static/img/image-1.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 79px;
  }
  
  .desktop-mu .sp-2 {
    height: 112px;
    left: 0;
    mix-blend-mode: darken;
    position: absolute;
    top: 336px;
    width: 756px;
  }
  
  .desktop-mu .nh-4 {
    background-image: url(../../../static/img/image.svg);
    background-position: 50% 50%;
    background-size: cover;
    height: 80px;
    left: 0;
    position: absolute;
    top: 0;
    width: 79px;
  }
  
  .desktop-mu .tiu {
    height: 40px;
    left: 0;
    position: absolute;
    top: 9px;
    width: 758px;
  }
  
  .desktop-mu .navbar {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: var(--secondaryhighlight-text);
    height: 40px;
    position: relative;
    width: 750px;
  }
  
  .desktop-mu .text-wrapper-14 {
    color: var(--secondarytext);
    font-family: var(--desktop-styles-title-2-font-family);
    font-size: var(--desktop-styles-title-2-font-size);
    font-style: var(--desktop-styles-title-2-font-style);
    font-weight: var(--desktop-styles-title-2-font-weight);
    height: 40px;
    left: -1px;
    letter-spacing: var(--desktop-styles-title-2-letter-spacing);
    line-height: var(--desktop-styles-title-2-line-height);
    position: absolute;
    text-align: center;
    top: -1px;
    width: 300px;
  }
  
  .desktop-mu .text-wrapper-15 {
    color: var(--secondarytext);
    font-family: var(--desktop-styles-title-2-font-family);
    font-size: var(--desktop-styles-title-2-font-size);
    font-style: var(--desktop-styles-title-2-font-style);
    font-weight: var(--desktop-styles-title-2-font-weight);
    height: 40px;
    left: 299px;
    letter-spacing: var(--desktop-styles-title-2-letter-spacing);
    line-height: var(--desktop-styles-title-2-line-height);
    position: absolute;
    text-align: center;
    top: -1px;
    width: 130px;
  }
  
  .desktop-mu .text-wrapper-16 {
    color: var(--secondarytext);
    font-family: var(--desktop-styles-title-2-font-family);
    font-size: var(--desktop-styles-title-2-font-size);
    font-style: var(--desktop-styles-title-2-font-style);
    font-weight: var(--desktop-styles-title-2-font-weight);
    height: 40px;
    left: 559px;
    letter-spacing: var(--desktop-styles-title-2-letter-spacing);
    line-height: var(--desktop-styles-title-2-line-height);
    position: absolute;
    text-align: center;
    top: -1px;
    width: 130px;
  }
  
  .desktop-mu .text-wrapper-17 {
    color: var(--secondarytext);
    font-family: var(--desktop-styles-title-2-font-family);
    font-size: var(--desktop-styles-title-2-font-size);
    font-style: var(--desktop-styles-title-2-font-style);
    font-weight: var(--desktop-styles-title-2-font-weight);
    height: 40px;
    left: 429px;
    letter-spacing: var(--desktop-styles-title-2-letter-spacing);
    line-height: var(--desktop-styles-title-2-line-height);
    position: absolute;
    text-align: center;
    top: -1px;
    width: 130px;
  }
  
  .desktop-mu .button-1 {
    height: 50px !important;
    left: 924px !important;
    position: absolute !important;
    top: 194px !important;
  }
  
  .desktop-mu .button-instance {
    margin-top: unset !important;
  }
  
  .desktop-mu .text-wrapper-18 {
    color: var(--primary);
    font-family: var(--desktop-styles-heading-font-family);
    font-size: var(--desktop-styles-heading-font-size);
    font-style: var(--desktop-styles-heading-font-style);
    font-weight: var(--desktop-styles-heading-font-weight);
    height: 42px;
    left: 614px;
    letter-spacing: var(--desktop-styles-heading-letter-spacing);
    line-height: var(--desktop-styles-heading-line-height);
    position: absolute;
    text-align: center;
    top: 127px;
    white-space: nowrap;
  }
  
  .desktop-mu .text-wrapper-19 {
    color: #000000;
    font-family: var(--desktop-styles-body-1-font-family);
    font-size: var(--desktop-styles-body-1-font-size);
    font-style: var(--desktop-styles-body-1-font-style);
    font-weight: var(--desktop-styles-body-1-font-weight);
    height: 30px;
    left: 120px;
    letter-spacing: var(--desktop-styles-body-1-letter-spacing);
    line-height: var(--desktop-styles-body-1-line-height);
    position: absolute;
    text-align: center;
    top: 96px;
    width: 234px;
  }
  