@import url("../../Variable.css");
.cart__container{
  width: calc(100vw - 15rem);
  margin:0px;
  padding:0px;
}
.head{
  width: 100%;
  color: var(--primary-color);
  text-align: center;
}
.row {
  display: flex;
  justify-content: space-between;
}
.img img {
  width: 50px;
}
.controls{
  height: 1rem;
}