@import url("../../Variable.css");

.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: fit-content;
}

.item {
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 1rem;
    width: fit-content;
}

.select {
    width: 376px;
    height: 40px;
    background-color: var(--background-1);
    border: 0.0625rem solid var(--highlight-text);
    border-radius: 1rem;
    box-sizing: border-box;
    color: var(--highlight-text);
    padding-left: 1rem;
}
