@import url("../../Variable.css");

.button__quantity{
    display: flex;
    position: relative;
    width: 165px; /* figma 155px*/
    height: 50px;   /* figma 40px*/
}
.input__quantity{
    width: 59px;
    height: 37px; /* figma 40px*/
    border-radius: 8px;
    border: 2px solid black;
    margin-top:5px; /* figma 0px*/
}
.input__quantity input {
    width: 55px;
    height: 35px;
    text-align: center;
    color: var(--primary-color );
    border-radius: 6px;
    padding:0px;
    margin:0px;
    border-color: transparent;
    background-color: transparent;
    &:focus {
        outline: 1px solid #000;
      }
  }
.my-icon {
    color:var(--brown);
}
.my-icon:active {
    color:var(--primary-color);
}
  