@import url("../../Variable.css");

p,
html,
div {
  margin: 0;
  padding: 0;
}

.form__container {
  background-color: var(--background-1);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.form__image {
  flex: 1;
  order: 2;
}

.form__frame {
  flex: 1;
  order: 1;
  position: relative;
}


/* ========BACKGROUND======== */
.image .image__bg {
  height: 100%;
  position: absolute;
  background-image: none;

}

.image__holder img {
  height: 100vh;
  width: 100%;
}

/* ========FORM======== */

/* ========logo======== */

.frame .website__logo {
  position: absolute;
  top: calc(15% - 80px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.website__logo img {
  max-height: 80px;
  max-width: 145px;
}

/* ========fill======== */
.form {
  background-color: var(--background-1);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form__frame{
  width: 90%;
}

.form__frame .form__title {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__title .form__title1 {
  color: var(--primary-color);
  text-align: center;
  width: 100%;
}

.form__title .form__title2 {
  color: var(--text);
  text-align: center;
  width: 100%;
  margin-top: 16px;
}

.form__frame .form__frameinput {
  margin-top: 16px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.form__input{
  margin-top: 8px;
}
.inputwrapper {
  margin-top: 8px;
}

.errorcontainer {
  height: 24px;
  color: var(--text);
}

.form__inputtitle {
  display: flex;
  flex-direction: row;
  color: var(--text);
}

.form__inputtitle1 {
  flex: 1;
  display: inline-block;
}

/* a {
  text-decoration: none;
  color: inherit;
} */

.form__textfield {
  height: 60px !important;
}


/* ========line======== */
.form__line {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form__line hr {
  width: 90%;
  height:1.5px;
  border:0px; 
  background-color: var(--brown);
}

/* ========button======== */
.form__btn {
  margin-top: 16px;

}

/* button.btn2 {
  width: 100%;
  height: 60px !important;
} */


/* ========LINK======== */
.form__link {
  margin-top: 8px;
  color: var(--text);
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

/* .form__link a {
  display: inline-block;
  text-decoration: underline !important;
} */

@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
  .image__holder img {
    opacity: 0.7
  }
  .frame {
    position: static;
  }
  .form {
    border: 1px solid var(--highlight-text);
    border-radius: 16px;
    
  }
}
