@import url("../../Variable.css");
p{
  margin: 0;
  padding: 0;
}
.login__container {
  background-color: var(--white);
  justify-content: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.login__container .login__form {
  flex:1.2;
  overflow: hidden;
  background-color: var(--white);
  position: relative;
}
.login__container .login__bg{
  flex:1;
  color: var(--red)
}

.login__container .login__form--frame {
  background-color: var(--background-1);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}

.login__container  .login__form--frame .login__form--frameinput {
  height: 538px;
  position: absolute;
  top: 245px;
  width: 650px;
  margin-left: auto;
  margin-right: auto;
}

.login__container .login__form--input {
  height: 102px;
  left: 0;
  position: absolute;
  top: 120px;
  width: 650px;
}

.login__container .error{
  position: absolute;
  top: 110px;
}

input{
  background-color: var(--background-1);
  border: 1px solid;
  border-color: var(--highlight-text);
  border-radius: 16px;
  height: 62px;
  left: 0px;
  position: absolute;
  top: 40px;
  width: 613px;
  padding-left: 32px;
}

.login__container .login__form--username-title {
  color: var(--text);
  height: 26px;
  left: 0;
  position: absolute;
  top: 0;
  white-space: nowrap;
}

.login__container .login__form--password {
  height: 102px;
  left: 0;
  position: absolute;
  top: 258px;
  width: 650px;
}

.login__container .eye-off {
  height: 24px;
  right:22px;
  position: absolute;
  top: 59px;
  width: 24px;
}

.login__container .login__form--password-forget {
  color: var(--text);
  height: 26px;
  right:0px;
  position: absolute;
  text-align: right;
  top: 0;
  white-space: nowrap;
}

.login__container .login__form--title {
  height: 88px;
  left: 115px;
  position: absolute;
  top: 0;
  width: 421px;
}

.login__container .title {
  height: 42px;
  left: 0;
  position: absolute;
  top: 0;
  width: 421px;
}

.login__container .p {
  color: var(--primary-color);
  height: 42px;
  left: 0;
  position: absolute;
  text-align: center;
  top: 0;
  white-space: nowrap;
}

.login__container .login__form--title-slogan {
  color: var(--text);
  height: 30px;
  left: 41px;
  position: absolute;
  text-align: center;
  top: 58px;
  white-space: nowrap;
}

.login__container .login__form--line {
  height: 1px;
  left: 33px;
  object-fit: cover;
  position: absolute;
  top: 392px;
  width: 584px;
  background-color: var(--black);
}

.login__container .login__form--submit-btn {
  height: 88px;
  left: 0px;
  position: absolute;
  top: 0;
  width: 421px;
}
.login__container .div-wrapper {
  height: 22px;
  left: 230px;
  position: absolute;
}
/* Button 1 style defaut */
.login__container .login__form--submit-btn .div-wrapper .btn1 {
  background: transparent;
  cursor: pointer;
  border: 2px solid var(--white);
  border-radius: 16px;
  box-shadow: 0 2px 0 2px var(--brown),
              0px 3px 12px rgba(0, 0, 0, 0.10);
  overflow: hidden;
  height: 60px;
  left: -230px;
  position: absolute;
  top: 432px;
  width: 650px;
  background-color: var(--primary-color);
  justify-content: center;
  line-height: 60px;
  color: var(--white);
}

/* Button 1 style when hovering */
.login__container .login__form--submit-btn .div-wrapper .btn1:hover {
  background-color: var(--variant);
  color: var(--text);
  box-shadow: 0 2px 0 2px var(--brown),
              0px 8px 32px rgba(0, 0, 0, 0.12)
}

/* Button 1 style when pressing */
.login__container .login__form--submit-btn .div-wrapper .btn1:active {
  box-shadow: 0 1px 0 1px var(--brown),
              0px 1px 8px rgba(0, 0, 0, 0.12)
}

.login__container .login__form--register {
  color: var(--text);
  font-size: 20px;
  font-weight: 700;
  height: 26px;
  left: 177px;
  letter-spacing: 0;
  line-height: 26px;
  position: absolute;
  text-align: center;
  bottom: 0px;
  white-space: nowrap;
}

.login__container .login__form--register-text {
  color: var(--text);
}

.login__container .login__logo {
  height: 80px;
  object-fit: cover;
  position: absolute;
  top: 64px;
  width: 145px;
  margin-left: auto;
  margin-right: auto;
}

.login__container .login__bg {
  object-fit: cover;
  width: 100%;
  height: calc(100vh);
}

