@import url("../../Variable.css");

.product {
    margin-top: 4rem;
}

.product__title {
    color: var(--primary-color);
    text-align: center;
}

.product__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 2rem;
    row-gap: 2rem;
}

.product__btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

/* Responsive */

@media screen and (max-width: 1284px) {
     .product__container {
        justify-content: flex-start;
        column-gap: calc((100% - 16.5rem*3)/2);
    }

  }

@media screen and (max-width: 888px){

    .product__container {
        justify-content: space-evenly;
        column-gap: 2rem;
    }
}

@media screen and (max-width: 540px){
    
    .product__container {
        justify-content: space-evenly;
        column-gap: 0.5rem;
        row-gap: 2rem;
    }
}

