@import url(../../Variable.css);

.banner {
  display: flex;
  justify-content: space-evenly;
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-evenly;
  gap: 0.5rem;
  margin-inline: 7.5rem;
}
  
.container img {
    max-width: 90%;
}
  
.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}
  
.content .title {
    color: var(--primary-color);
    text-align: justify;
    max-width: 37.5rem;
}
  
.content .mainText {
    text-align: justify;
    max-width: 37.5rem;
}

/* Responsive */

@media screen and (max-width: 1284px) {
  .container {
      margin-inline: 3rem;
  }
}
  
@media screen and (max-width: 884px) {
  .container {
    flex-direction: column;
    margin-inline: 0;
  }

  .content {
    align-items: center;
    padding: 0 2rem;
  }

  .content .title {
    text-align: center;
  }
  .content .mainText {
    text-align: center;
  }
}
  