@import url("../../Variable.css");

.body--2 {
    line-height: 1.2;
}

.footer {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: var(--background-2);
    height: 22.875rem;
}

/* ----- Định dạng phần Đăng ký nhận tin ----- */
.footer__newsletter {
    display: flex;
    align-items: center;
    position: absolute;
    top: -3.125rem;
    width: calc(100% - 15rem);
    background-color: var(--variant);
    margin: 0 7.5rem 1rem 7.5rem;
    border-radius: 1rem;
    height: 6.25rem;
}

.newsletter__form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: absolute;
    text-align: left;
    margin: 0 4.5rem;
    width: calc(100% - 9rem);
    left: 0;
}

.newsletter__title p:nth-child(1) {
    padding: 0;
    margin: 0;
}

.newsletter__title p:nth-child(2) {
    padding: 0;
    margin: .5rem 0 0 0;
}

.newsletter__email {
    display: flex;
    flex-direction: row;
    right: 0;
    position: absolute;
    width: calc(100% - 36rem);
    top: calc(50% - 1.25rem);
}

.text-field__input {
    width: 100%;
    position: absolute;
    left: 0;
}

.btn2 {
    height: 2.5rem;
    width: 6.25rem;
    position: absolute;
    right: 0;
}

/* Định dạng phần Truy cập nhanh (FOOTER__LINKS) */

.footer__links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    margin: 5.2rem 7.5rem 0 7.5rem;
    align-items: flex-start;
    flex-wrap: wrap;
    text-align: left;
}

.footer__links-div {
    width: 21.875rem;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

/* Phần Liên hệ (CONTACT) */

.contact__email,
.contact__phone,
.contact__location {
    margin-top: .5rem;
}

.contact__name,
.quick_links__name {
    color: var(--primary-color);
}

/* Riêng icon email vì khác font icon nên phải thiết lập khác */
/* .contact__email--symb {
    color: var(--primary-color);
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 1rem;
    box-sizing: border-box;
} */

/* Thiết lập thuộc tính chung cho các icon */
.footer .icon {
    color: var(--primary-color);
    height: 1.25rem;
    width: 1.25rem;
    margin-right: 1rem;
}

/* ----- Định dạng phần Slogan có logo (ở giữa) ----- */

.logo {
    height: 3.3125rem;
    width: 6.25rem;
    object-fit: cover;
    margin-bottom: .5rem;
}

.slogan {
    text-align: center;
}

.slogan__content {
    color: var(--primary-color);
}

.socialmedia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
}

/* Thiết lập các thuộc tính chung cho các icon media */
.slogan__media {
    color: var(--primary-color);
    height: 2rem;
    width: 2rem;
    margin-right: 1rem;
}

/* ----- Định dạng phần Liên kết nhanh ----- */
.quick-links {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    right: 0;
}

.footer__links-div .quick-links a {
    margin-top: 0.75rem;
}

a {
    color: var(--text);
    text-decoration: none;
}

/* ----- Định dạng phần Copyright -----  */

.copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 2rem;
    background-color: var(--brown);
    color: var(--white);
    text-align: center;
    height: 2rem;
    width: 100%;
    bottom: 0;
}


@media screen and (max-width: 768px) {
    html {
        font-size: 14px;
    }

    .footer__newsletter {
        margin: 0 2rem 1rem 2rem;
        width: calc(100% - 4rem);
    }

    .newsletter__form {
        margin: 0 1.5rem;
        width: calc(100% - 3rem);
    }

    .newsletter__email {
        width: calc(100% - 27.85rem);
        top: calc(50% - 1.25rem);
    }

    .footer__links {
        margin: 5.2rem 2rem 0 2rem;
    }

    .footer__links-div {
        width: 15rem;
    }
}

@media screen and (max-width: 360px) {

    html,
    body {
        font-size: 12px;
    }

    .footer {
        height: 35rem;
    }

    .footer__newsletter {
        display: flex;
        flex-direction: column;
        align-items: center;
        top: -4.5rem;
        margin: 0 1rem .5rem 1rem;
        width: calc(100% - 2rem);
        height: calc(4.5rem + 2.5rem + 3rem);
    }

    .newsletter__form {
        margin: 1rem 1.5rem;
        width: calc(100% - 3rem);
        height: calc(4.5rem + 2.5rem + 5rem);
    }

    .newsletter__email {
        width: 100%;
        top: 45%;
    }

    .footer__links {
        display: flex;
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: center;
        margin: 5.2rem 1rem 0 1rem;
    }

    .contact {
        order: 3;
        width: 100%;
        margin: 2rem 1.5rem;
    }

    .quick-links {
        left: 0;
        margin: 0 1.5rem;
    }

    .slogan__logo {
        position: absolute;
        width: 12rem;
        margin-top: 1.585rem;
        margin-left: 5rem;
    }
}