.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 999;
  transition: opacity 0.2s ease-in-out;
}

.modal.in.visible {
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 16px 32px;
  border-radius: 20px;
  width: 500px;
}

.modal__close {
  position: absolute;
  top: 16px;
  right: 32px;
  cursor: pointer;
  opacity: 0.8;
}

.modal__header {
  color: #e21033;
  margin: 0;
  font-size: 20px;
  font-weight: 700;
  line-height: 130%;
}

.modal__description {
  color: black;
  margin-top: 20px;
  font-size: 20px;
  line-height: 150%;
  font-family: 'Inter';
}

.modal__action {
  margin-top: 73px;
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.modal__button-destroy {
  cursor: pointer;
  color: #e21033;
  background-color: #ffeef4;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}

.modal__button-accept {
  cursor: pointer;
  color: white;
  background-color: #e21033;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  font-weight: 600;
}
.modal__close.active {
  color: #e21033;
}
