.modal {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  z-index: 999;
  transition: opacity 0.2s ease-in-out;
}

.modal.in.visible {
  opacity: 1;
}

.modal__container {
  position: relative;
  background-color: white;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  width: 31.25rem;
}

.modal__close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
  opacity: 0.8;
  transition: all 0.1s ease-in-out; 
}

.modal__close:hover {
  color: var(--primary-color);
  opacity: 1;
}

.modal__header {
  color: var(--primary-color);
  margin: 0;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 130%;
}

.modal__description {
  color: black;
  margin-top: 1.25rem;
  font-size: 1.25rem;
  line-height: 150%;
  font-family: 'Inter';
}

.modal__action {
  margin-top: 4.5625rem;
  display: flex;
  justify-content: flex-end;
  gap: 0.5rem;
}


