@import url("../../Variable.css");

button {
    color: var(--white);
    background: none;
    background-color: var(--primary-color);
    font-size: 20px;
    font-family: var(--button);
    cursor: pointer;
    padding: 12px 32px;
    border: 2px solid var(--white);
    border-radius: 16px;
    box-shadow: 0 2px 0 2px var(--brown);
    /* box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.10); */
    position: relative;
    overflow: hidden;
    /* transition: all 0.3s; */
}
   
/* button:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 120%;
    background-color: #ff6700;
    top: 50%;
    transform: skewX(30deg) translate(-150%, -50%);
    transition: all 0.5s;
} */
   
button:hover {
    background-color: var(--variant);
    color: var(--text);
    box-shadow: 0 2px 0 2px var(--brown);
}
   
/* button:hover::before {
    transform: skewX(30deg) translate(150%, -50%);
    transition-delay: 0.1s;
} */
   
button:active {
    /* transform: scale(0.9); */
    box-shadow: 0 1px 0 1px var(--brown);
}