@import url("../../Variable.css");

/* Button 1 style defaut */
.btn1 {
    background: transparent;
    font-size: 1rem;
    font-family: Lato;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    line-height: 1.25rem;
    border: 2px solid var(--white);
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0 0.125rem var(--brown),
                0 0.1875rem 0.75rem rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

/* Button 1 style when hovering */
.btn1:hover {
    background-color: var(--variant);
    color: var(--text);
    box-shadow: 0 0.125rem 0 0.125rem var(--brown),
                0 .5rem 2rem rgba(0, 0, 0, 0.12)
}

/* Button 1 style when pressing */
.btn1:active {
    box-shadow: 0 0.0625rem 0 0.0625rem var(--brown),
                0 0.0625rem 0.5rem rgba(0, 0, 0, 0.12)
}

/* Button 2 style defaut */
.btn2 {
    background: transparent;
    font-size: 1rem;
    font-family: Lato;
    cursor: pointer;
    padding: 0.625rem 1.25rem;
    line-height: 1.25rem;
    border: transparent;
    border-radius: 1rem;
    box-shadow: 0 0.1875rem 0.75rem rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

/* Button 2 style when hovering */
.btn2:hover {
    background-color: var(--variant);
    color: var(--text);
    box-shadow: 0 .5rem 2rem rgba(0, 0, 0, 0.12)
}

/* Button 2 style when pressing */
.btn2:active {
    box-shadow: 0 0.0625rem .5rem rgba(0, 0, 0, 0.12)
}

/* Variations */
.primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.secondary {
    background-color: var(--background-2);
    color: var(--primary-color);
    box-shadow: 0 0.125rem 0 0.125rem var(--primary-color),
                0 0.1875rem 0.75rem rgba(0, 0, 0, 0.10);
}