@import url("../../Variable.css");

/* Button 1 style defaut */
.btn1 {
    background: transparent;
    font-size: 16px;
    font-family: Lato;
    cursor: pointer;
    padding: 10px 20px;
    line-height: 20px;
    border: 2px solid var(--white);
    border-radius: 16px;
    box-shadow: 0 2px 0 2px var(--brown),
                0px 3px 12px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

/* Button 1 style when hovering */
.btn1:hover {
    background-color: var(--variant);
    color: var(--text);
    box-shadow: 0 2px 0 2px var(--brown),
                0px 8px 32px rgba(0, 0, 0, 0.12)
}

/* Button 1 style when pressing */
.btn1:active {
    box-shadow: 0 1px 0 1px var(--brown),
                0px 1px 8px rgba(0, 0, 0, 0.12)
}

/* Button 2 style defaut */
.btn2 {
    background: transparent;
    font-size: 16px;
    font-family: Lato;
    cursor: pointer;
    padding: 10px 20px;
    line-height: 20px;
    border: transparent;
    border-radius: 16px;
    box-shadow: 0px 3px 12px rgba(0, 0, 0, 0.10);
    overflow: hidden;
}

/* Button 2 style when hovering */
.btn2:hover {
    background-color: var(--variant);
    color: var(--text);
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.12)
}

/* Button 2 style when pressing */
.btn2:active {
    box-shadow: 0px 1px 8px rgba(0, 0, 0, 0.12)
}

/* Variations */
.primary {
    background-color: var(--primary-color);
    color: var(--white);
}

.secondary {
    background-color: var(--background-2);
    color: var(--primary-color);
    box-shadow: 0 2px 0 2px var(--primary-color),
                0px 3px 12px rgba(0, 0, 0, 0.10);
}