@import url('../../Variable.css');

/* Style for Tab Navigation*/
.tab__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

/* Container of tab and user_info */
.container__wrapper {
    border: 2px solid var(--brown);
    border-radius: 1rem; 
    overflow: hidden; 
}

/* Style for user_info */
.user__container {
    display: flex;
    align-items: center;
    height: 11.25rem;
    border-bottom: none;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    position: relative;
}
  
.avatar {
    width: 8.375rem;
    height: 8.375rem;
    border-radius: 50%;
    margin-left: 4rem;
    
}
  
.user__info p {
    margin-left: 4rem;
}
  
.signout {
    position: absolute;
    right: 6.25rem;
}

/* Style for 3 Tab Header */
.tab__header {
    display: flex;
    justify-content: space-around;
    padding: 0;
    border-top: 2px solid var(--brown);
    overflow: hidden;
}

/* Style for each Tab */
.tab {
    flex: 1;
    height: 6.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    background-color: var(--background-2);
    overflow: hidden;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Style for History Order Tab*/
.his__box {
    border-left: 2px solid var(--brown);
    border-right: 2px solid var(--brown);
}

/* Style for tab when actived */
.active {
    background-color: var(--primary-color);
    color: var(--white);
    text-decoration: underline 1px solid var(--white);
    text-underline-offset: 1rem;
}
  
.tab__content {
    border: none;
}

/* Style for Customer Information TabContent */
.acct__info {
    display: flex;
    width: 100%;
    align-items: flex-end;
    align-content: flex-end;
    gap: 15rem;
    flex-wrap: wrap;
}

.title {
  color: var(--primary-color);
  padding: 0;
  margin-top: 4rem;
}

fieldset {
  margin-top: 2rem;
  border: 1px solid var(--brown);
  border-left: none ;
  border-right: none ;
  border-bottom: none;
  padding: 0;
  padding-top: 2rem;
}

legend {
  margin-left: 2rem;
}

.contact {
    display: flex;
    gap: 15rem;
}
.contact__left, .contact__right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
}

.subcontact {
    display: flex;
    flex-direction: column;
    gap: 1rem
}

.input__change {
    display: flex;
    gap: 2rem;
    justify-content: center;
    align-items: center;
}
.input__item {
    height: 2.5rem;
    width: 23.5rem;
}

.change__text {
    text-decoration: underline;
}

.line {
    width: 100%;
    box-sizing: border-box;
    border-color: var(--black);
}

.update__btn {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 0.25rem;
    box-sizing: border-box;
}

/* Style for Order History TabContent */
.orderHistory {
    display: flex;
    flex-direction: column;
}
  
.order {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
    border: 2px solid var(--brown);
    border-radius: 1rem;
    width: 100%;
    box-sizing: border-box;
}

.orderID {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    width: calc(100% - 8rem);
    padding-top: 1rem;
}

.product {
    display: flex;
    background-color: var(--background-2);
    border-radius: 1rem;
    width: calc(100% - 8rem);
    margin-top: 1rem;
}

.product img {
    width: 14rem;
    height: 14rem;
    margin: 1rem;
    margin-right: 4rem;
}

.product__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
}
.order__info {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: calc(100% - 8rem);
    margin: 2rem 0;
}

.delivery_info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 2rem;
    max-width: 37.5rem;
    
}
.subinfo {
    display: flex;
    gap: 1rem;
    align-items: center;
}
  
.order_price {
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-items: flex-end;
    gap: 1rem;
}

/* Style for Order History TabContent */

.orderStatus .order_price {
    align-items: center;
}
.orderStatus {
    display: flex;
    flex-direction: column;
}

.btn__recieve button {
    padding: 10px 48px;
}

/* .process {
    position: relative;
    overflow: hidden;
}

.line__process {
    border: 2px solid var(--primary-color);
    width: 100%;
    position: absolute;
    top: 108px;
} */

.process__container {
    display: flex;
    flex-shrink: 0;
    margin: 4rem 0;
    width: calc(100% - 2rem);
    justify-content: space-between;
    align-items: flex-start;
}

.process__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 220px;
}

.icon__process {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--primary-color);
    background-color: var(--white);
    padding: 20px;
    border: 4px solid var(--primary-color);
    border-radius: 100%;
}

.process__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    max-width: 220px;
}

.proccessing {
    background-color: var(--primary-color);
    color: var(--white);
}