/* src/variable.css */

:root {

    /* Set color */
    --red : #E21033;
    --pink : #FFEEF4;
    --blue : #A1E1F4;
    --white : #FFFFFF;
    --black : #000000;
    --brown : #47271C;

    /* Set color variants */
    --primary-color : var(--red);
    --background-1: var(--white);
    --background-2 : var(--pink);
    --variant : var(--blue);
    --text : var(--black);
    --highlight-text : var(--brown);


}


@import 'https://fonts.googleapis.com/css?family=Lobster';
@import 'https://fonts.googleapis.com/css?family=Lato';

/* Set font variants */
.heading {
    font-family: Lobster;
    font-size: 2rem;
    line-height: 1.3;
}

.title--1 {
    font-family: Lobster;
    font-size: 1.5rem;
    line-height: 1.3;
}

.title--2 { 
    font-family: Lobster;
    font-size: 1.25rem;
    line-height: 1.3;
}

.title--3 {
    font-family: Lato;
    font-size: 1.25rem;
    font-weight: 900;
    line-height: 1.3;
}

.title--4 {
    font-family: Lato;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.3;
}

.body--1 {
    font-family: Lato;
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
}

.body--2 {
    font-family: Lato;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
}
