@import url('../Variable.css');

.product-submenu {
  width: 10rem;
  position: absolute;
  top: 50%;
  list-style: none;
  text-align: start;
}

.product-submenu li {
  background: var(--background-1);
  cursor: pointer;
}

.product-submenu li a:hover {
  background: var(--background-2);
}

.product-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  padding: 16px;
}
