@import url('../../Variable.css');

p {
  margin: 0;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 60px;
  background: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 120px;
}

.navBar__logo {
  height: 45px;
  width: 80px;
  position: relative;
  top: 4px;
}

.navBar__item {
  display: flex;
  gap: 32px;
  list-style: none;
  text-align: center;
}

.navBar__icons {
  display: flex;
  gap: 16px;
  list-style: none;
  text-align: center;
}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item__link {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
  cursor: pointer;
  font-size: 20px;
}

.nav-item__link::before {
  content: '';
  position: absolute;
  bottom: -2px;
  width: 100%;
  height: 3px;
  background-color: var(--primary-color);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  border-radius: 16px;
}

.nav-item:hover .nav-item__link::before {
  opacity: 1;
}

.nav-item::after {
  content: '';
  position: absolute;
  top: 80%;
  width: calc(100% + 32px);
  left: 0;
  height: 50px;
}

.product-submenu {
  z-index: 20;
  display: none;
  width: 12rem;
  position: absolute;
  top: 140%;
  left: 0;
  padding: 0;
  list-style: none;
  text-align: start;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.12);
  flex-direction: column;
  padding: 4px;
}

.nav-item:hover .product-submenu {
  display: flex;
  flex-direction: column;
}

.product-submenu:hover {
  display: flex;
}

.product-submenu__item {
  background: var(--background-1);
  color: var(--primary-color);
  cursor: pointer;
  padding: 8px 20px 8px 16px;
  transition: all 0.3s ease-in-out;
}

.product-submenu__item:hover {
  background: var(--background-2);
  border-radius: 6px;
}

.product-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: var(--text);
  transition: all 0.3s ease-in-out;
}

.product-submenu__item:hover .submenu-item {
  color: var(--primary-color);
}

.navBar__icon {
  height: 20px;
  width: 20px;
  color: var(--primary-color);
  cursor: pointer;
}

.navBar__search {
  position: relative;
  border-radius: 16px;
}

.navBar__search-bar {
  position: absolute;
  right: -12px;
  top: 200%;
  display: flex;
  align-items: stretch;
  border: 1px solid #47271c;
  border-radius: 8px;
  font-family: 'Lato', sans-serif;
}

.navBar__search-input {
  width: 300px;
  height: 40px;
  font-size: 14px;
  padding-inline: 16px;
  border-radius: 8px 0 0 8px;
  outline: none;
  border: none;
}

.navBar__search-button {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 8px;
}

.navBar__search-icon {
  padding-inline: 12px;
  color: var(--white);
}
