
p {
  margin: 0;
}

ul {
  padding: 0;
}

.mt-4 {
  margin-top: 2rem; 
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 3.75rem; 
  background: var(--white);
  box-shadow: 0px 0.25rem 0.25rem 0px rgba(0, 0, 0, 0.25); 
  z-index: 1000;
}

.navbar__content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-inline: 1.25rem; 
}

.navBar__home {
  order: 2;
  flex: 1;
  margin-left: 0.5rem;
}

.navBar__logo {
  height: 2.8125rem;
  width: 5rem; 
  position: relative;
  top: 0.25rem; 
}

.navBar__menu {
  order: 1;
  display: flex;
  align-items: center;
  z-index: 30;
}

.navBar__menu-icon {
  cursor: pointer;
  height: 1.5rem; 
  width: 1.5rem; 
  z-index: 10;
}

.navBar__mobile-logo {
  width: 6rem;
}

.navbar-menu__placeholder {
  width: 1.5rem; 
}

.navBar__mobile-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0rem;
}

.navBar__item {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  background-color: white;
  margin: 0;
  list-style: none;
  text-align: left;
  width: 22rem;
}

.navBar__close {
  align-self: flex-end;
  margin-right: 1rem; 
  margin-top: 0.5625rem; 
  margin-bottom: 0.5625rem; 
}

.navBar__close-icon {
  height: 2rem; 
  width: 2rem;
  padding: 0.25rem;
  color: var(--primary-color);
  cursor: pointer;
}

.has-drop-down::after {
  content: '';
  position: absolute;
  top: 80%;
  width: calc(100% + 2rem); 
  left: 0;
  height: 3.125rem; 
  z-index: 10;
}

.navBar__menu.active {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

.navBar__menu.active .navBar__item {
  left: 0;
  transition: left 0.3s ease-in-out;
}

.navBar__menu.active .navBar__menu-icon {
  display: none;
}

.navBar__menu.active .nav-item {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.navBar__menu.active .nav-item:last-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.navBar__menu.active .nav-item__link {
  padding: 1rem; 
  cursor: pointer;
  width: 100%;
}

.navBar__menu.active .nav-item:hover {
  background-color: var(--background-2);
  border-radius: 0.375rem; 
}

.navBar__icons {
  display: flex;
  gap: 1rem; 
  list-style: none;
  text-align: center;
  order: 3;
}

.nav-item {
  display: flex;
  align-items: center;
  position: relative;
}

.nav-item__link {
  text-decoration: none;
  color: var(--primary-color);
  position: relative;
  cursor: pointer;
  font-size: 1.25rem; 
}

.product-submenu {
  z-index: 20;
  display: none;
  width: 12rem; 
  position: absolute;
  top: calc(100% + 8px);
  right: 16px;
  padding: 0;
  list-style: none;
  text-align: start;
  background-color: white;
  border-radius: 0.625rem; 
  box-shadow: 0px 1rem 2rem 0px rgba(0, 0, 0, 0.12); 
  flex-direction: column;
  padding: 0.25rem; 
}

.authenticate .product-submenu {
  width: 8rem; 
}

.authenticate .product-submenu .submenu-item {
  padding: 0.5rem 1rem; 
}

.nav-item:hover .product-submenu {
  display: flex;
  flex-direction: column;
}

.product-submenu:hover {
  display: flex;
}

.product-submenu__item {
  background: var(--background-1);
  color: var(--primary-color);
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.product-submenu__item:hover {
  background: var(--background-2);
  border-radius: 0.375rem;
}

.product-submenu.clicked {
  display: none;
}

.submenu-item {
  display: block;
  text-decoration: none;
  color: var(--text);
  transition: all 0.3s ease-in-out;
  padding: 1rem 1.25rem;
}

.product-submenu__item:hover .submenu-item {
  color: var(--primary-color);
}

.navBar__icon {
  height: 1.25rem; 
  width: 1.25rem; 
  color: var(--primary-color);
  cursor: pointer;
  position: relative;
  z-index: 20;
}

.navBar__search {
  position: relative;
  border-radius: 1rem; 
}

.navBar__search-bar {
  position: absolute;
  right: -1.875rem; 
  top: 200%;
  display: flex;
  align-items: stretch;
  border: 0.0625rem solid #47271c; 
  border-radius: 1rem; 
  font-family: 'Inter', sans-serif;
}

.navBar__search-input {
  width: 9.375rem; 
  height: 2.5rem; 
  font-size: 0.875rem;
  padding-inline: 1rem; 
  border-radius:1rem 0 0 1rem;
  outline: none;
  border: none;
  z-index: 20;
}

.navBar__search-button {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  border-radius: 1rem; 
}

.navBar__search-icon {
  padding-inline: 0.75rem;
  height: 1.25rem;
  width: 1.25rem; 
  color: var(--white);
}

.layer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 10;
}

@media only screen and (min-width: 48rem) {
  .navBar__home {
    order: 2;
    flex: 1;
  }

  .navbar__content {
    margin-inline: 1.25rem; 
  }

  .navBar__menu {
    order: 1;
  }

  .navBar__search-bar {
    right: -0.75rem; 
  }

  .navBar__search-input {
    width: 18.75rem;
  }
}

@media only screen and (min-width: 64rem) {
  .navBar__menu {
    order: 2;
  }

  .product-submenu {
    left: 0;
  }

  .navBar__menu.active {
    position: unset;
  }

  .navBar__menu-icon {
    display: none;
  }

  .navBar__mobile-header {
    display: none;
  }

  .navBar__item {
    gap: 1.5rem; 
    display: flex;
    flex-direction: row;
    position: unset;
    padding-top: 0;
    width: 100%;
  }
  .navbar__content {
    margin-inline: 5rem; 
  }

  .navBar__home {
    flex: none;
  }

  .nav-item__link::before {
    content: '';
    position: absolute;
    bottom: -0.125rem; 
    width: 100%;
    height: 0.1875rem; 
    background-color: var(--primary-color);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    border-radius: 1rem; 
  }
  
  .nav-item:hover .nav-item__link::before {
    opacity: 1;
  }

  .navBar__menu.active .nav-item__link {
    padding: 0;
  }

  .navbar-menu__placeholder {
    display: none;
  }

  .navBar__menu.active .nav-item {
    border: none;
  }

  .navBar__menu.active .nav-item:last-child {
    border: none;
  }

  .navBar__menu.active .nav-item:hover {
    background-color: transparent;
    border-radius: 0;
  }

  .navBar__close {
    display: none;
  }
}

@media only screen and (min-width: 75rem) {
  .navbar__content {
    margin-inline: 7.5rem; 
  }

  .navBar__item {
    gap: 2rem; 
  }
}
