@import url('../../Variable.css');


.content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 3.75rem;
    margin-bottom: 3.75rem;
    margin-inline: 7.5rem;
}

.navigation {
    margin-top: 2rem;
    display: flex;
    gap: 0.375rem;
    align-items: center;
}

.navigation__item {
    font-weight: 600;
    color: black;
    text-decoration: none;
    font-family: 'Inter';
}

.tab {
    margin-top: 2rem;
    display: flex;
    gap: 0.375rem;
    align-items: center;
}