.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination {
  display: flex;
  gap: 16px;
}

.pagination__button {
  border: none;
  background-color: transparent;
  height: 40px;
  width: 40px;
  background-color: #ffd6e4;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination__button.inactive {
  cursor: not-allowed;
  opacity: 0.4;
}

.pagination__icon {
  width: 20px;
  height: 20px;
  color: #e21033;
}

.pagination__items {
  display: flex;
  gap: 8px;
}

.pagination__item {
  background-color: white;
  border-radius: 8px;
  border: 1px solid #d9d9db;
  height: 40px;
  width: 40px;
  font-size: 16px;
  cursor: pointer;
}

.pagination__item.active {
  color: white;
  background-color: #e21033;
}