
.center {
  display: flex;
  justify-content: center;
  width: 100%;
}

.pagination {
  display: flex;
  gap: 1rem;
}

.pagination__button {
  border: none;
  background-color: transparent;
  height: 2.5rem;
  width: 2.5rem;
  background-color: #ffd6e4;
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.pagination__button.inactive {
  cursor: not-allowed;
  opacity: 0.4;
}

.pagination__icon {
  width: 1.25rem;
  height: 1.25rem;
  color: #e21033;
}

.pagination__items {
  display: flex;
  gap: 0.5rem;
}

.pagination__item {
  background-color: white;
  border-radius: 0.5rem;
  border: 1px solid #d9d9db;
  height: 2.5rem;
  width: 2.5rem;
  font-size: 16px;
  cursor: pointer;
}

.pagination__item.active {
  color: white;
  background-color: #e21033;
}
