@import url("../../Variable.css");

.card {
    height: 400px;
    width: 276px;
}

.card .overlap-group {
    background-color: var(--white);
    border-color: var(--brown);
    border-radius: 16px;
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.card .product-image {
    max-height: 69vh;
    position: absolute;
    width: 100%;
    overflow: hidden;
}

/* title */
.card .card-title {
    position: absolute;
    left: 12px;
    top: 293px;
    letter-spacing: 0;
    line-height: normal;
    text-align: center;
}

.card .line {
    background-color: var(--brown);
    height: 1px;
    left: 12px;
    object-fit: cover;
    position: absolute;
    top: 319px;
    width: 252px;
}

.card .rate {
    height: 24px;
    left: 12px;
    position: absolute;
    top: 338px;
}

/* star*/
.card .div {
    color: var(--highlight-text);
    position: absolute;
    left: 90px;
    top: -2px;
    white-space: nowrap;
    text-align: center;
}

.card .divprice {
    color: var(--highlight-text);
    height: 24px;
    left: 12px;
    position: absolute;
    top: 367px;
    white-space: nowrap;

}

.card .add-to-cart {
    align-items: flex-start;
    border: 1px solid;
    border-color: var(--brown);
    border-radius: 8px;
    box-shadow: 2px 2px 0px (--brown);
    display: inline-flex;
    gap: 10px;
    left: 223px;
    padding: 10px;
    position: absolute;
    top: 349px;
}

.card .icons {
    height: 20px !important;
    position: relative !important;
    width: 20px !important;
}

.card.default {
    border-radius: 16px;
    border: 2px solid var(--brown);
    box-shadow: 0px 3px 12px 0px rgba(0, 0, 0, 0.25), 2px 2px 0px 0px var(--brown);
}

.card.hover {
    border-radius: 16px;
    border: 2px solid var(--brown);
    border-width: 2px 4px 4px 2px;
    box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.25), 2px 2px 0px 0px var(--brown);
}

.card.default  img {
    max-width: 100%;
    max-height: 100%;
    transition: all 0.3s ease-in-out;
}

.card.hover img {
    max-width: 100%;
    max-height: 100%;
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}



.card.default .card-title {
    color: var(--highlight-text);
}

.card.hover .card-title {
    color: var(--primary-color)
}

.card.default .add-to-cart {
    background-color: var(--red)
}

.card.hover .add-to-cart {
    background-color: var(--blue);
}

@keyframes img {
    0% {
        transform: scale(1);
        opacity: 0.6;
    }

    100% {
        transform: scale(1.4);
        opacity: 0;
    }
}


@media screen and (max-width: 768px) {
    .card {
        height: 325px;
        width: 224px;
    }



}

@media screen and (max-width: 480px) {
    .card {
        height: 226px;
        width: 156px;
    }


}
