@import url("../../Variable.css");

p,
html,
div {
  margin: 0;
  padding: 0;
}

.register__container {
  background-color: var(--background-1);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}

.img-holder {
  flex: 1;
  order: 2;
}

.register__frame {
  flex: 1;
  order: 1;
  position: relative;
}


/* ========BACKGROUND======== */
.img-holder .bg {
  height: 100%;
  position: absolute;
  background-image: none;

}

.info-holder img {
  height: 100vh;
  width: 100%;
}

/* ========FORM======== */

/* ========logo======== */

.register__frame .website-logo {
  position: absolute;
  top: calc(15% - 80px);
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.website-logo img {
  max-height: 80px;
  max-width: 145px;
}

/* ========fill======== */
.register__form {
  background-color: var(--background-1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__form--frameinput{
  width: 90%;
}

.register__form--frameinput .register__form--title {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register__form--title .title1 {
  margin-top: 32px;
  color: var(--primary-color);
  height: 1em * 130%;
  text-align: center;
  white-space: nowrap;
  width: 100%;
}

.register__form--title .title2 {
  color: var(--text);
  height: 1em * 150%;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  margin-top: 16px;
}

.register__form--frameinput .register__form--input {
  margin-top: 32px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.register__form--input .register__form--user .register__form--username-title {
  color: var(--text);
  height: 1em * 150%;
  white-space: nowrap;
}

.input-wrapper {
  margin-top: 16px;
}

.text-field__input {
  height: 60px !important;
}

.error-container {
  height: 26px;
  color: var(--text);
}


.register__form--input .register__form--password {
  display: flex;
  flex-direction: column;
}

.register__form--password-title {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
}

.register__form--password-title1 {
  flex: 1;
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
}

.register__form--password-input {
  margin-top: 16px;
}

.register__form--password-input {
  position: relative;
}

.register__form--password-input .eye-off {
  position: absolute;
  top: 50%;
  right: 22px;
  width: 24px;
  height: 24px;
  transform: translateY(-50%);
  z-index: 1;
}

/* ========line======== */
.register__form--line {
  margin-top: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__form--line hr {
  width: 85%;
  background-color: var(--brown);
}

/* ========button======== */
.register__form--submit-btn {
  margin-top: 16px;

}

button.btn2 {
  width: 100%;
}


/* ========REGISTER======== */
.register__form--login {
  margin-top: 16px;
  color: var(--text);
  height: 1rem*150%;
  width: 100%;
  text-align: center;
  margin-bottom: 32px;
}

.register__form--login-title1 {
  white-space: nowrap;
}

.login__form--login a {
  display: inline-block;
  text-decoration: underline !important;
}

@media (max-width: 768px) {
  .register__container {
    flex-direction: column;
  }
  .img-holder img {
    opacity: 0.7
  }
  .register__frame {
    position: static;
  }
  .register__form {
    border: 1px solid var(--highlight-text);
    border-radius: 16px;
    
  }
}
